body {
    font-family:Georgia, serif;
    background-color: rgb(240, 250, 255);
}

img {
    display: block;
    margin: 0px auto;
}

h1, h2, h3, p {
    text-align: center;
}

p {
    font-size: 24px;
    padding: 0% 10%;
}

h1 {
    font-size: 48px;
    margin: 50px auto;
    text-align: center;
}

h2 { 
    display: block;
    font-size: 38px;
}

h3 {
    font-size: 20px;
}

ul, ol {
    background-color: rgb(192, 232, 255);
    padding: 5% 10%;
}

li {
    background-color: rgb(175, 175, 253);
    font-size: 24px;
    border: 2px rgb(192, 232, 255) solid;
    padding: 8px;
    display: block;
}